:root {
    --blue-color: #2F9FCA;

  &[data-theme="light"] {
    --base-color: #F1F1F1;
    --tone-1-color: #E0E0E0;
    --tone-2-color: #B8B8B8;
    --text-color: #161616;
    --pink-color: #EC8398;
  }

  &[data-theme="dark"] {
    --base-color: #161616;
    --tone-1-color: #202020;
    --tone-2-color: #404040;
    --text-color: #F1F1F1;
    --pink-color: #D37285;
  }
}
